*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    text-decoration: none;
}
.less-space {
    line-height: 0.95; /* Устанавливаем значение line-height меньше 1 для уменьшения пространства */
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}
.for-divide{
    display: flex;
}
.back{
    width: 100px;
    height: 100px;
}
.credit-title{
    margin-left: 30px;
    font-size: 85px;
}
.ix{
    width: 100px;
    height: 100px;
}
.brbr{
    width: 100%;
    height: 3px;
    background-color: grey;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: rgba(180, 180, 180, 0.68);*/
}
.first-block > *{
    margin-left: 50px;
    margin-top: 45px;
    font-size: 55px;
}
.main-photo{
    width: 90%;
}
.after-main-logo-text-bold{
    font-weight: bold;
}
.after-main-logo-text-loght{

}
.second-block{
    /*display: flex;*/
    /*flex-direction: column;*/
    margin-left: 60px;
    margin-top: 45px;
    font-size: 40px;
}
.card{
    height: 100px;
    margin: 25px 0;
    display: flex;
    align-items: center;
}
.card-img{
    padding: 10px;
    /*margin: 10px;*/
    background-color: #ffd400;
    width: 80px;
    height: 80px;
    border-radius: 25px;
}
.text-bl{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-bl1{
    font-weight: bold;
}
.third-block{
    margin-left: 60px;
    margin-top: 45px;
    font-size: 40px;
}
.label-cr{
    font-weight: bold;
}
.bRRIER{
    width: 80px;
    height: 80px;
}
.digit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    /*padding: 15px;*/
    border: #ffd400 solid 3px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 50px;
}
.third-block-t1{
    font-weight: bold;
    font-size: 35px;
}
.third-block-t2{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
}
.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd400;
    font-weight: bold;
    /*border: black solid 5px;*/
    border-radius: 15px;
    font-size: 60px;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 40px;
}

.iphone-mono{
    width: 33%;
    height: 80px;
    margin-left: 33%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffd400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.iphone-mono > * {
    /*margin: 0 25px;*/
}
.sensor{
    margin-left: 25px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}
.column {
    width: 150px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}
.camera{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: black;
    margin-right: 25px;
}
.label-m{
    font-weight: bold;
    font-size: 55px;
}
.label-s{
    font-size: 55px;
}
.center{
    padding: 5%;
}
.number{
    width: 100%;
    height: 80px;
    background-color: lightgrey;
    font-size: 45px;
    /*margin-left: 40px;*/
}
.IIN{
    width: 100%;
    height: 80px;
    background-color: lightgrey;
    font-size: 45px;
}
.footer{
    padding-bottom: 45px;
}

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    --clr: #0B6E4F;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 50%;
    transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: var(--clr);
    border-radius: .5rem;
    animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #E0E0E2;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 #0B6E4F90;
        rotate: 20deg;
    }

    50% {
        rotate: -20deg;
    }

    75% {
        box-shadow: 0 0 0 10px #0B6E4F60;
    }

    100% {
        box-shadow: 0 0 0 13px #0B6E4F30;
        rotate: 0;
    }
}

.check-cont{
    display: flex;
    font-size: 35px;
}
.center > div{
    margin-top: 45px;
    text-align: center;
}

input{
    margin-bottom: 15px;
}
.rect{
    width: 90%;
    border: black solid 2px;
    border-radius: 15px;
    padding: 25px;
}
.upper{
    font-weight: 900;
    font-size: 60px;
}
.label-bold{
    font-weight: bold;
    width: 80%;
    font-size: 50px;
}
.footer{
    background-color: #cccccc;
}
.center{
    background-color: #cccccc;
}
.info{
    border-radius: 75px;
    width: 150px;
    height: 150px;
    background-color: #ffd400;
}
.immm{
    width: 150px;
    height: 150px;
}